<h2>Contact Us</h2>
<p>You can get into contact with us by filling in our form below</p>

<div class="row-fluid">
<div class="col-md-6 col-md-offset-3">
<?php
	//Get from address from database
	$from = '';
	if(isset($user['email'])) {
		$from = $user['email'];
	}

	//Get to address
	$to = $site['email'];

	$form = new Form();
	echo $form->start();
	echo $form->add('from',array('type' => 'text', 'value' => $from));
	echo $form->add('subject',array('type' => 'text'));
	echo $form->add('message',array('type' => 'textarea'));
	echo $form->add('captcha');
	echo $form->captcha();
	echo $form->add('Send',array('type' => 'submit'));

	echo $form->end();


	$url = "https%3A%2F%2Fwww.google.ru%2F";

	if(!filter_var($url, FILTER_VALIDATE_URL)) {
	  	echo "URL is not valid";
	} else {
	  	echo "URL is valid";
	}

?>
</div>
</div>
